body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("cloud.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#titleName{
    font-size:50px;
    font-style: bold;
    border-style: dotted;
    margin-right:20%;
    margin-left:20%;
    margin-bottom:22px;
}

#Welcome{
    color: blue;
}

input{
   font-size:15px;
}

button{
    font-size:15px;
}

.TasksN{
    font-size: 20px;
}

.TasksT{
    font-size:30px;
    text-decoration: underline;
    font-weight: bold;
}

h3, h4{
    color: blue;
}
